
body {
    overflow: hidden;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-weight: 400;
    color: #fff;
}

h1 {
    font-weight: 300;
    color: #fff;
}

p {
    color: #bbb;
}

a {
    color: #fff;
    text-decoration: none;
}

#info {
    text-align: left;
    position: absolute;
    width: 460px;
    background-color: rgba(0, 0, 0, .8);
    padding: 4px 30px;
    top: 20px;
    left: 0;
    display: none;
}

#prompt {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 0;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

#title {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: rgba(0, 0, 0, .8);
    padding: 4px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 140px;
    line-height: 30px;
    display: none;
}

.openBtn {
    background: url("../img/open.png");
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 9px;
}

.closeBtn {
    position: absolute;
    right: 30px;
    top: 26px;
    background: url("../img/close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
 


html {
    width: 100%;
    height: 100%;
    display: table;
}

body {
    background: #000;
    display: table-cell;
    vertical-align: middle;
}

#streetview {
    width: 1280px;
    height: 800px;
    position: absolute;
    margin: 0 auto;
    display: block;
    border-radius: 0px;
    background: url(http://samantafluture.com/sputnik/demo01/images/streetview.png);
}

#title {
    padding: 20px 30px;
    position: absolute;
    top: 25px;
    left: 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
    -webkit-box-shadow: 0 0 3px #000;
    color: #666;
    font-family: Arial, Helvetica, sans;
}

h1 {
    margin: 0;
    font-size: 20px;
}

h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}

h2 a {
    text-decoration: none;
    color: #333;
}

h2 a:hover {
    text-decoration: underline;
    color: #ccc;
}

#author {
    padding: 10px 20px;
    position: absolute;
    bottom: 25px;
    right: 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000));
    -webkit-box-shadow: 0 0 3px #000;
    color: #666;
    font: 12px/14px Arial, Helvetica, sans;
    text-decoration: none;
    text-shadow: 0 0 3px #000;
}

#author em {
    font-style: normal;
    color: #999;
}

#author:hover em {
    text-decoration: underline;
    color: #ccc;
}

#browser {
    display: none;
    font: 14px/20px Arial, Helvetica, sans;
    background: #9e0b0f;
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 30%;
    right: 30%;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #aaa;
    border-radius: 5px;
}

#browser h4 {
    padding: 20px 30px 0;
    font-size: 24px;
    color: #fff;
}

#browser p {
    padding: 0 30px 30px;
    color: #ddd;
}

#browser a {
    color: #fff;
}

#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000;
}

#backButton {
    position: absolute;
    bottom: -25px;
    right: 5px;
    font-size: 11px;
} 
